body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img-responsive {
  max-width: 70%; /* Garante que a imagem não exceda a largura da coluna */
  height: auto; /* Mantém a proporção da imagem */

  /* Centraliza a imagem horizontalmente */
  margin-left: 15%;
}

#chavena {
  width: 60%;
  height: auto;
  display: block;
  /* Posicione a imagem na coluna 1 usando porcentagens */
  margin-top: 22%;
  margin-left: 18%;
}

#viseu {
  width: 40%;
  height: auto;
  display: block;
  rotate: -5deg;
  /* Posicione a imagem na coluna 2 usando porcentagens */
  margin-top: 5%;
  margin-left: 60%;
}

#dei {
  width: 40%;
  height: auto;
  display: block;
  /* Posicione a imagem na coluna 3 usando porcentagens */
  margin-top: 3%;
  margin-left: 35%;
}

#lua {
  width: 23%;
  height: auto;
  display: block;
  rotate: -25deg;
  /* Posicione a imagem na coluna 4 usando porcentagens */
  margin-top: 3%;
  margin-left: 60%;
}

#botanico {
  width: 80%;
  height: auto;
  display: block;
  /* Posicione a imagem na coluna 5 usando porcentagens */
  margin-top: 3%;
  margin-left: -15%;
}

#matrecos {
  width: 60%;
  height: auto;
  display: block;
  /* Posicione a imagem na coluna 6 usando porcentagens */
  margin-top: 3%;
  margin-left: 7%;
}

#banho {
  width: 60%;
  height: auto;
  display: block;
  /* Posicione a imagem na coluna 7 usando porcentagens */
  margin-top: 3%;
  margin-left: 20%;
}

@font-face {
  font-family: 'ecoplanet'; /* Escolha um nome para a fonte */
  src: url('fonts/ECOPLANET.ttf') format('truetype'); /* Substitua o formato e o caminho conforme necessário */
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'ecoplanet', sans-serif;
}

.grafiti {
  font-size: 6vw !important;
  bottom: 0;
  left: 0;
  z-index: 1;
  white-space: nowrap;
}

.custom-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.custom-column {
  width: 33.33%;
  padding: 5px;
}

.sticky {
  position: sticky;
  top: 0;
}

/* Modo claro */
.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

/* Modo escuro */
.dark-mode-2 {
  filter: invert(100%);
}
