body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img-responsive {
  max-width: 70%; /* Garante que a imagem não exceda a largura da coluna */
  height: auto; /* Mantém a proporção da imagem */

  /* Centraliza a imagem horizontalmente */
  margin-left: 15%;
}

#chavena {
  width: 60%;
  height: auto;
  display: block;
  /* Posicione a imagem na coluna 1 usando porcentagens */
  margin-top: 22%;
  margin-left: 18%;
}

#viseu {
  width: 40%;
  height: auto;
  display: block;
  rotate: -5deg;
  /* Posicione a imagem na coluna 2 usando porcentagens */
  margin-top: 5%;
  margin-left: 60%;
}

#dei {
  width: 40%;
  height: auto;
  display: block;
  /* Posicione a imagem na coluna 3 usando porcentagens */
  margin-top: 3%;
  margin-left: 35%;
}

#lua {
  width: 23%;
  height: auto;
  display: block;
  rotate: -25deg;
  /* Posicione a imagem na coluna 4 usando porcentagens */
  margin-top: 3%;
  margin-left: 60%;
}

#botanico {
  width: 80%;
  height: auto;
  display: block;
  /* Posicione a imagem na coluna 5 usando porcentagens */
  margin-top: 3%;
  margin-left: -15%;
}

#matrecos {
  width: 60%;
  height: auto;
  display: block;
  /* Posicione a imagem na coluna 6 usando porcentagens */
  margin-top: 3%;
  margin-left: 7%;
}

#banho {
  width: 60%;
  height: auto;
  display: block;
  /* Posicione a imagem na coluna 7 usando porcentagens */
  margin-top: 3%;
  margin-left: 20%;
}

#telemovel {
  width: 60%;
  height: auto;
  display: block;
  /* Posicione a imagem na coluna 8 usando porcentagens */
  margin-top: 3%;
  margin-left: 20%;
}

@font-face {
  font-family: 'ecoplanet'; /* Escolha um nome para a fonte */
  src: url('fonts/ECOPLANET.ttf') format('truetype'); /* Substitua o formato e o caminho conforme necessário */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LemonadeStand'; /* Escolha um nome para a fonte */
  src: url('fonts/LemonadeStand.ttf') format('truetype'); /* Substitua o formato e o caminho conforme necessário */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CorethanExtraBold'; /* Escolha um nome para a fonte */
  src: url('fonts/CorethanExtraBold.otf') format('truetype'); /* Substitua o formato e o caminho conforme necessário */
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'ecoplanet', sans-serif;
}

h6,h2 {
  font-family: 'CorethanExtraBold', sans-serif;
}

.grafiti {
  font-size: 6vw !important;
  bottom: 0;
  left: 0;
  z-index: 1;
  white-space: nowrap;
}

.custom-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.custom-column {
  width: 33.33%;
  padding: 5px;
}

.sticky {
  position: sticky;
  top: 0;
}

/* Modo claro */
.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

/* Modo escuro */
.dark-mode-2 {
  filter: invert(100%);
}

#banho:hover {
  background-image: url('imgs/banho.gif');
  background-size: cover;
}

#viseu:hover {
  background-image: url('imgs/viseu.gif');
  background-size: cover;
  animation: playOnce 3s 1; /* Reproduz a animação apenas uma vez */
}

@keyframes playOnce {
  to {
    background-image: none; /* Remove a imagem de fundo após a animação */
  }
}

#image-container {
  position: relative;
}

#insta {
  position: absolute;
  top: 27%;
  left: 33%;
  width: 12%;
  height: 12%;
  cursor: pointer;
  rotate: -11deg;
}

#linkedin {
  position: absolute;
  top: 24%;
  left: 47%;
  width: 12%;
  height: 12%;
  cursor: pointer;
  rotate: -11deg;
}

#hora {
  position: absolute;
  top: 19%;
  left: 30%;
  width: 4%;
  height: 4%;
  rotate: -11deg;
}

#hora2 {
  position: absolute;
  top: 24%;
  left: 42%;
  width: 12%;
  height: 12%;
  rotate: -11deg;
}
