#chavena {
  width: 60%;
  height: auto;
  display: block;
  margin-top: 22%;
  margin-left: 18%;
}

#viseu {
  width: 40%;
  height: auto;
  display: block;
  rotate: -5deg;
  margin-top: 5%;
  margin-left: 60%;
}

#dei {
  width: 40%;
  height: auto;
  display: block;
  margin-top: 3%;
  margin-left: 35%;
}

#botanico {
  width: 80%;
  height: auto;
  display: block;
  margin-top: 3%;
  margin-left: -15%;
}

#matrecos {
  width: 60%;
  height: auto;
  display: block;
  margin-top: 3%;
  margin-left: 7%;
}

#banho {
  width: 60%;
  height: auto;
  display: block;
  margin-top: 10%;
  margin-left: 20%;
}

#eu {
  max-width: 70%;
  height: auto;
  display: block;
  margin-left: 75px;
}

.scale {
  transition: transform .2s ease-out;
}

.scale:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  #chavena {
    position: absolute;
    width: 50%;
    height: auto;
    margin-top: 135%;
    margin-left: 7%;
  }

  #viseu {
    rotate: -5deg;
    position: absolute;
    width: 35%;
    height: auto;
    margin-top: 140%;
    margin-left: 50%;
  }

  #dei {
    position: absolute;
    width: 30%;
    height: auto;
    margin-top: 163%;
    margin-left: 15%;
  }

  #banho {
    position: absolute;
    width: 55%;
    height: auto;
    margin-top: 170%;
    margin-left: 50%;
  }

  #botanico {
    width: 80%;
    height: auto;
    display: block;
    margin-top: 85%;
    margin-left: 10%;
  }

  #matrecos {
    width: 50%;
    height: auto;
    display: block;
    margin-top: 0%;
    margin-left: 50%;
  }

}
