.img-container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-responsive {
    max-width: 70%;
    height: auto;
    margin-left: 75px;
}

.grafiti {
    font-size: 6vw !important;
    bottom: 0;
    left: 0;
    z-index: 1;
    white-space: nowrap;
}

.custom-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    z-index: 0;
}

.sticky {
    position: sticky;
    align-self: start;
    top: 0px;
}

#image-container {
    position: relative;
}

@media (max-width: 768px) {
    .custom-container {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        z-index: 0;
    }

    .img-container {
        height: auto;
    }

    .custom-column {
        width: 100%;
    }

    .sticky {
        position: static;
    }

    .grafiti {
        font-size: 12vw !important;
        bottom: 0;
        left: 0;
        z-index: 1;
        white-space: nowrap;
        text-align: center;
    }

}