@font-face {
  font-family: 'ecoplanet';
  src: url('fonts/ECOPLANET.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LemonadeStand';
  src: url('fonts/LemonadeStand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CorethanExtraBold';
  src: url('fonts/CorethanExtraBold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'ecoplanet', sans-serif;
}

h6,
h2 {
  font-family: 'CorethanExtraBold', sans-serif;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.image-loading {
  margin: 50%;
  width: 100%;
  height: auto;
}
