@font-face {
  font-family: 'ecoplanet';
  src: url('fonts/ECOPLANET.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LemonadeStand';
  src: url('fonts/LemonadeStand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CorethanExtraBold';
  src: url('fonts/CorethanExtraBold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'ecoplanet', sans-serif;
}

h6,
h2 {
  font-family: 'CorethanExtraBold', sans-serif;
}