#telemovel {
    width: 60%;
    height: auto;
    display: block;
    margin-top: 3%;
    margin-left: 20%;
}

#insta {
    width: 13%;
    height: auto;
    display: block;
    margin-top: 7%;
    margin-left: 32%;
    rotate: -11deg;
}

#linkedin {
    width: 12%;
    height: auto;
    display: block;
    margin-top: -15%;
    margin-left: 48%;
    rotate: -11deg;
}

#hora {
    height: auto;
    display: block;
    margin-top: -75%;
    margin-left: 30%;
    rotate: -11deg;
}

#hora2 {
    height: auto;
    display: block;
    margin-top: -60%;
    margin-left: 42%;
    rotate: -11deg;
}

@media (max-width: 768px) {
    #telemovel {
        width: 60%;
        height: auto;
        display: block;
        margin-top: 3%;
        margin-left: 20%;
    }
}